.carousel-item{
    background-size:cover;
    background-position:center center;
}

.carousel-indicators li{
    width:20px;
    height:20px;
    margin: 0 5px;
    border-radius:20%;
    background-color: $primary;
}

.carousel-inner{
    max-height:600px;
}

.nav-link-active{
    color:black;
}
.nav-link{
    color:$primary;
}

.tab-content{
    background:white;
}

.text{
    margin-bottom:5%;
}
.img-responsive{
    width:60%;
    height:85%;
    padding: 40px 5px 20px 25px;
}
.col p{
    text-align:left;
    margin-left:-15%;
    margin-top:2%;
}

.social{
    margin-left:-15%;
}
#card{
    margin-bottom:-10%;
}

#headingOne, #headingTwo, #headingThree{
    background-color: white;
    border-bottom-style: 1px solid $primary;
}
#card-body{
    background-color: $background;
}
.btn-link{
    background-color:white !important;
    color: $primary;
}
.btn-link:hover{
    color:$primary;
}



@media (min-width:280px) and (max-width:767px){
    .col p{
        width:auto;
        font-size:0.8em;
        margin-left:6%;
        text-align: left;
        margin-top:-7%;
    }
    .social{
        font-size:0.9em;
        text-align:center;
        margin-top:5%;
        margin-left:1%;
    }
    .responsive{
        width:100%;
    }
    .text{
        margin-bottom:15%;
    }
}

