html, 
body{
    height:100%;
}

.container{
    width:100%;
}

body{
    font-family:"open sans", sans-serif;
    background-color: $background; 
    display:flex;
    flex-direction:column;
}
footer{
    display:flex;
    flex-shrink:0;
    justify-content:space-between;
    background: white;
    margin-top:5%;
    font-size:1em;
    padding: 0px 40px 0px 40px;
}

.fa-vimeo, .fa-youtube-play{
    font-size:23px;
}

.wrapper{
    flex: 1 0 auto;
}


@media (min-width:280px) and (max-width:767px){
    footer{
        display:inline-block;
        text-align: center;
        margin-top:20%;
    }

    .fa-vimeo, .fa-youtube-play{
        font-size:23px;
        margin-left:0%;
        margin-top:10%;
    }
    .mail, .copyright{
        display: flex;
        justify-content: space-between;
        float:left;
        padding:30px;
        font-size:.8em;

    }
}