.heading{
    font-size:1.3em;
    color:black;
}
.card{
    margin-bottom:15%;
    margin-top:10%;
    border-radius: 3%;
}

.card-img-top{
    border-radius: 3%;
}

h1{
    color: $primary;
    font-size:2.2em;
    margin-left:11.5%;
    margin-bottom:3%;
    margin-top:5%;
}

.pagination{
    margin-left:11.5%;
}

.page-link{
    color:$primary;
    border:1px solid $primary;
}


.pagination > .page-item.active > a {
    background-color: $primary;
    color:white;
    border:1px solid $primary;
}

.btn-primary{
    background: linear-gradient(90deg, $primary 85%, $button-secondary 15%);
    color:white;
    border-style: none;
    width:100%;
}

@media (min-width: 280px) and (max-width:568px){ 
   h1{
       margin-left:20px;
   }
   .pagination{
       margin-left:20px;
   }
}


@media (min-width: 768px) and (max-width:811px){ 
    h1{
        text-align:left;
    }
    .pagination{
        margin-left:45px;
    }
 }

 @media (min-width: 812px) and (max-width:823px){ 
    h1{
        text-align:left;
    }
    .pagination{
        margin-left:65px;
    }
 }

 @media (min-width: 824px) and (max-width:1024px){ 
    h1{
        text-align:left;
    }
    .pagination{
        margin-left:50px;
    }
 }
